# Windows
[Dd]esktop.ini
Thumbs.db
$RECYCLE.BIN/

# macOS
.DS_Store
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes

# Node.js
node_modules/
miniprogram_npm/

# IDE
.vscode/
.idea/

# Environment variables
.env
.env.local

# Build output
dist/

# Logs
logs/
*.log

# System Files
*.swp
*.swo
*~

BabySittingCareBackEnd